.CodeMirror {
	height: 600px;
}

ul.portrait-list {
	list-style: none;
}

ul.portrait-list > li {
	display: inline-block;
	margin: 0;
	padding: 2px;
}

li > figure {
	margin: 0;
	padding: 0;
}

figure {
	display: inline-block;
}

figcaption {
	font-size: small;
}

#image-gallery {
	height: 400px;
	overflow: auto;
}

.file:hover {
	text-decoration: underline;
	cursor: pointer;
}

#file-list {
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*  image gallery upload */
#image-upload-drop-area {
	border: 2px dashed #ccc;
	border-radius: 20px;
	width: auto;
	margin: 20px auto;
	padding: 20px;
}

#image-upload-drop-area.highlight {
	border-color: purple;
}

#image-files {
	display: none;
}

.dropdown-menu {
	min-width: 50rem;
	left: -272px;
	border: 1px solid #a1a1a1;
}

/* modal overrides */
modal-card-foot {
	justify-content: space-between;
}

/* file sorting dialog */
.sortable {
	font-size: inherit;
}

.sortable.row-changed {
	color: darkgreen;
}

.drag-handle {
	background-color: white;
	padding: 3px;
	border: none;
}

#reorder-posts-list {
	margin-left: 5px;
}

